deployment:
  replicas: 1

service:
  type: LoadBalancer

ports:
  web:
    port: 80
    expose:
      enabled: true

  websecure:
    port: 443
    expose:
      enabled: true
    tls:
      enabled: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"

additionalArguments:
  - "--api.dashboard=true"
  - "--api.debug=true"
  - "--log.level=INFO"

ingressRoute: {}

